<?xml version="1.0" encoding="utf-8"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:arg name="name" default="camera"/>
  <xacro:arg name="parent" default="gripper_link"/>

  <xacro:include filename="$(find grunt_description)/urdf/realsense_d455/_d455.urdf.xacro" />
  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <xacro:sensor_d455 parent="$(arg parent)" name="$(arg name)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0.03 .035 0" rpy="1.570796 0 0"/>
  </xacro:sensor_d455>
</robot>
